{% assign additional = site.data.data.Additional-Information %}
{% if additional %}
<section class="section publications-section">

<h2 class="section-title">
    <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ additional.title }}
</h2>

  {% if additional.intro %}
  <div class="intro">
      <p>{{ additional.intro }}</p>
  </div><!--//intro-->
  {% endif %}

</section><!--//section-->
{% endif %}
